@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: none;

    text-decoration: none;
    list-style: none;
}

:root {
    --yellow-primary: #f8d230;
    --yellow-light: #f2d06b;
    --yellow-700: #ebb659;

    --title-white: #ffffff;
    --title-base: #272221;
    --subtitle-base: #403937;
    --text-base: #574F4D;

    --font-text: "Montserrat", sans-serif;
    --font-title: "Poppins", sans-serif;

    --bg-gray: #323232;
    --bg-none: #ffffff00;
}

.title {
    font-family: var(--font-text);
    font-weight: 300;
    font-size: 3rem;
}

.container-right {
    text-align: center;
    width: 100%;

    margin-left: 10%;
}

.container-right input {
    width: 29.7%;
    height: 5vh;

    border: 1px solid;
    border-radius: 3px;
    border-color: var(--text-base);

    margin-bottom: 1.6rem;

    align-items: center;

}

.input-text::placeholder{
    color: var(--title-base);
    align-items: center;
}

.container-right button {
    width: 30%;
    height: 5vh;

    border: 1px solid;
    border-radius: 3px;
    border-color: var(--yellow-primary);
    background: var(--yellow-primary);
    color:var(--title-base);

    font-family: var(--font-title);
    font-weight: 500;
    font-size: 1rem;
    
    transition: all 0.4s ease;

}

.container-right button:hover {
    background: var(--bg-none);

    border-color: var(--bg-gray);
}