.testemunha-container {
    height: 90vh;
    margin-top: 7rem;
    margin-left: 8%;
}

.padding {

width: 90%;
height: 75%;

background: #000000;
border-radius: 20px;

}

.text {
    margin: 7rem;
    width: 70%;
    margin-left: 15%;
}

.text h5 {
    font-size: 1.8rem;
    font-family: var(--font-text);
    font-weight: 600;

    color: var(--white);
}

