@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: none;

    text-decoration: none;
    list-style: none;

    overflow-x: hidden;
}

:root {
    --yellow-primary: #f8d230;
    --yellow-light: #f2d06b;
    --yellow-700: #ebb659;
    --white: #ffffff;

    --title-white: #ffffff;
    --title-base: #272221;
    --subtitle-base: #403937;
    --text-base: #574F4D;

    --font-text: "Montserrat", sans-serif;
    --font-title: "Poppins", sans-serif;

    --bg-gray: #464646;
    --bg-none: #ffffff00;
    --bg-black: #000;
    --bg-card: #4b4b4ba5;
}

