body {
    font-size: 1.2rem;
    color: var(--title-base);
    font-family: var(--font-title);

}

.header-container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 2.0rem;
    width: 100%;

    
}

.logo h3 {
    font-size: 2rem;
    font-family: var(--font-title);
    font-weight: bold;

    color: var(--white);
    text-transform: lowercase;

}

.logo span {
    color: var(--white);
    text-transform: lowercase;
}

ul {
    display: flex;
    gap: 1rem;
}

li {
    color: var(--white);
    cursor: pointer;
    font-family: var(--font-text);
    transition: all 0.4s ease;
}
li:hover {
    color: var(--yellow-primary);
}
